


html{
    background-color: rgb(200, 57, 57); /* rgb(200, 57, 57) */
    max-width: 2500px;
}

header{
    max-width: 2500px;
    background-image: linear-gradient(rgb(255, 224, 25), rgb(160, 31, 67));
    background-repeat:no-repeat;
    background-color: rgb(161, 29, 66);
    margin: auto;
    
}

 header h1, header h2{
    margin: auto;
    text-align: center;
    font-family: 'Bungee Spice', sans-serif;
}

header h2{
    font-size: 50px;
    text-decoration: underline;
    background-color: rgb(106, 33, 33); /*rgb(106, 33, 33);  is the red color you want */
    border-style: dotted;
    border-color: white;
    color:rgb(255, 234, 4);
    max-width: 700px;
    padding:10px;
    
}

 nav ul
{
    display:flex;
    text-transform: uppercase;
    list-style: none;
    margin:auto;
   
   
    
}

nav ul li{
    margin:auto;
    font-size: 20px;
   
   
}
nav a{
    text-decoration: none;
    display:block;
   
}


/*
nav ul, li {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    display:block;
    transition: all ease 0.5s;
    max-width: 1200px;
    padding: 5px 50px;
    margin:auto;
    font-family: sans-serif;
    display: flex;
    text-align:center;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display:block;
    margin:auto;
}

nav ul li{
    background-color: rgb(92, 100, 133);
    padding: 5px 50px;
    margin:auto;
}
*/

.changeco{
    background-color: rgb(121, 145, 128);
}


p{
    font-size: 20px;
}

span{
    color: rgb(234, 255, 0);
    font-size: large;
}

img{
    border-style: solid;
    border-color: rgb(165, 136, 42);
    margin:auto;
    float:left;
    max-width: 1000px;
    max-height: 900px;
}

.top-right{
    margin:auto;
    position: right;
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: double;
}

footer{
    
    position: absolute;
    bottom: 0;
     width: 100%;
     height: 3 rem;          /* Footer height */
    background-color: rgb(253, 173, 11);
}
p{
    font-family:fantasy;
    font-size: 45px;
    margin:auto;
    padding:10px;
    text-align:center;
    
}

hr{
    color:rgb(120, 80, 157);
}
